#header-text {
  @include media-breakpoint-up(lg) {
    margin-top: 10%;
    position: absolute;
    z-index: 1;
  }
}
#header-image {
  transform: scaleX(-1);
}

#first-section {
  background-color: $secondary;
  color: $text;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.text-container {
  @include media-breakpoint-up(lg) {
    max-width: 70%;
  }
}

.button-container {
  margin-top: 3rem;
  margin-bottom: 3rem;
  @include media-breakpoint-up(lg) {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}
.content-container {
  @include media-breakpoint-up(lg) {
    margin-top: 10rem;
    margin-bottom: 10rem;
  }
}

li {
  list-style: disc;
}
