#header-text {
  @include media-breakpoint-up(lg) {
    position: absolute;
    z-index: 10;
    margin-top: 15%;
  }
  @include media-breakpoint-up(xl) {
    margin-top: 20%;
  }
  @media (min-width: 1920px) {
    margin-top: 10%;
  }
}

#header-image {
  transform: scaleX(-1);
}

.bg-accent {
  background-color: $accent;
  color: $text;
}

.bg-cover {
  background-color: $background;
  position: relative;
  z-index: 1;
  width: 100%;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
}

.wide-image {
  max-height: 350px;
  @include media-breakpoint-up(lg) {
    max-height: 400px;
  }
  @include media-breakpoint-up(xl) {
    max-height: 450px;
  }
}

.section-container {
  @include media-breakpoint-up(lg) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  @include media-breakpoint-up(xxl) {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
}

.button-container {
  max-width: 720px;
  padding-top: 3rem;
  padding-bottom: 3rem;

  @include media-breakpoint-up(lg) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.text-container {
  position: sticky;
  bottom: 10px;

  @include media-breakpoint-up(lg) {
    max-width: 65%;
  }
}

.high-container {
  height: 350px;
  @include media-breakpoint-up(sm) {
    height: 450px;
  }
  @include media-breakpoint-up(md) {
    height: 550px;
  }
  @include media-breakpoint-up(lg) {
    height: 600px;
  }
  @include media-breakpoint-up(xl) {
    height: 800px;
  }
}

li {
  list-style: disc;
}

.width-1320 {
  max-width: 1320px;
}

.width-1920 {
  max-width: 1920px;
}

//////////////////////////////////////////

@include media-breakpoint-up(lg) {
  .parallax_wrapper {
    perspective: 10px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    transform-style: preserve-3d;
  }

  .preserve3d {
    transform-style: preserve-3d;
  }

  .parallax__group {
    position: relative;
    height: 800px;
    transform-style: preserve-3d;
    border: 1px solid green;
  }

  .parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 200px;
    left: 100%;
  }

  .parallax__layer--section-1,
  .parallax__layer--back {
    transform: translateZ(-1px) scale(1.5);
  }
}
