// Theme colors
$primary: rgb(255, 255, 255);
$text: rgb(0, 0, 0);
$background: rgb(17, 93, 186);
$secondary: rgb(0, 200, 200);
$dark-bg: rgb(40, 40, 40);
// Spacing
$base-line-height: 1.5;
$base-padding: 0.75rem;
$base-margin: 0.75rem;
